body {
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", "Wenquanyi Micro Hei", Arial, sans-serif;
    background-color: #f7f7f9;
}

.login {
    padding: 20px;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    background-color: #ffffff;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.header {
    height: 60px;
    background-color: #42B2FB;
    color: #ffffff;
    font-weight: 500;
    font-size: 33px;
    line-height: 60px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    text-align: center;
    border-bottom: 1px solid #e1e1e8;
    border-radius: 4px 4px 0 0;
}